<div
  class="bg-white border border-gray-200 rounded-xl p-6 shadow-sm hover:shadow-md transition"
>
  <h3 class="font-semibold text-lg">
    {{ task.title }}
  </h3>

  <!-- DESCRIPTION -->

  <p class="text-gray-500 mt-3 text-sm leading-relaxed line-clamp-3">
    {{ task.description || "Nessuna descrizione" }}
  </p>

  <!-- STATUS + PRIORITY -->

  <div class="mt-5 pt-4 border-t border-gray-100 space-y-3 text-sm">
    <!-- STATUS -->
    <div class="flex justify-between items-center">
      <span class="text-gray-500"> Stato </span>

      <span class="inline-flex items-center gap-2 font-medium">
        <span
          class="w-2.5 h-2.5 rounded-full"
          [ngClass]="{
            'bg-yellow-500': task.taskStatus === TaskStatus.Todo,
            'bg-blue-500': task.taskStatus === TaskStatus.InProgress,
            'bg-green-500': task.taskStatus === TaskStatus.Done,
          }"
        ></span>

        {{ getStatusLabel() }}
      </span>
    </div>

    <!-- PRIORITY -->
    <div class="flex justify-between items-center">
      <span class="text-gray-500"> Priorità </span>

      <span class="inline-flex items-center gap-2 font-medium">
        <span
          class="w-2.5 h-2.5 rounded-full"
          [ngClass]="{
            'bg-gray-400': task.taskPriority === TaskPriority.Low,
            'bg-orange-400': task.taskPriority === TaskPriority.Normal,
            'bg-red-500': task.taskPriority === TaskPriority.High,
          }"
        ></span>

        {{ getPriorityLabel() }}
      </span>
    </div>
  </div>

  <!-- DATE -->

  <div class="mt-5 flex justify-between items-center text-sm">
    <span class="text-gray-500"> Scadenza </span>

    <span
      class="px-2.5 py-1 rounded-full bg-gray-100 text-gray-700 font-medium"
    >
      {{ task.dueDate ? (task.dueDate | date: "dd/MM/yyyy") : "Nessuna" }}
    </span>
  </div>

  <div class="mt-6 flex flex-wrap gap-2">
    <button
      (click)="details.emit(task)"
      class="px-3 py-2 text-sm border border-gray-200 rounded-lg hover:bg-gray-50 transition"
    >
      Dettagli
    </button>

    <button
      (click)="edit.emit(task)"
      class="px-3 py-2 text-sm bg-black text-white rounded-lg hover:bg-gray-800 transition"
    >
      Aggiorna
    </button>

    <button
      (click)="delete.emit(task.id)"
      class="px-3 py-2 text-sm text-red-600 border border-red-200 rounded-lg hover:bg-red-50 transition"
    >
      Elimina
    </button>
  </div>
</div>
